.video-player {
  width: 80%;
  position: relative;
}

.video-wrapper {
  width: 100%;
  margin: 0 auto;
  height: auto;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.video-thumbnail {
  width: 100%;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  cursor: pointer;
  border-radius: 50%;
  width: 20%;
}

.value-proposition .videotabbuttons {
  height: 10%;
  position: absolute;
  top: 75%;
  right: 0%;
  border-radius: 60px 0px 0px 60px;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding:1.5em;
}

.play-hide {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 770px) {
  .video-player{
    width: 90%;
  }
  .play-button {
    width: 17%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .value-proposition .value-column{
    width: 100%;
  }

  .play-button {
    width: 30%;
  }
  .value-proposition .videotabbuttons {
    background-color: transparent;
  }
 
  .value-proposition .video-tabbutton{
    font-size: .6rem;
  }
}
